@import "../../../styles/common";


.home-service {
    background-image: url("../../../assets/images/home/home_service.png");

    .container {
        max-width: 1760px !important;
        margin   : 0 auto;
    }

    .home-body-service {
        .service-content {
            background-image   : url("../../../assets/images/home/home_service/home_service_bg.png");
            background-position: center;
            background-repeat  : no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            border-radius      : 15px;

            .wrap-service-content {
                padding        : 30px;
                display        : flex;
                justify-content: space-between;

                .list-item-service {
                    display       : flex;
                    flex-direction: column;
                    gap           : 10px;

                    .item-service {
                        color      : $white;
                        font-weight: 600;
                        font-size  : 30px;
                        line-height: 36px;
                        /* Adjust width as needed */
                        /* You can add additional styling for each item here */
                    }

                }
            }
        }
    }
}


// từ 991px trở xuống
@include media-breakpoint-down(md) {
    .home-service {
        .home-body-service {
            .service-content {
                background-position: center;
                background-repeat  : unset;

                .wrap-service-content {
                    flex-direction: column;

                    .list-item-service {
                        .item-service {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}