@import "../../../styles/common";


.modal-contact {
    margin  : 0 auto;
    position: relative;

    .modal-content {
        border-radius: 20px;
        margin       : 0px 50px;

        .btn-icon-close {
            position: absolute;
            right   : -30px;
            top     : -30px;

            .wrap-icon {
                height       : 36px;
                width        : 36px;
                border-radius: 50%;
                background   : $white;
                cursor       : pointer;
            }
        }
    }
}


// từ 991px trở xuống
@include media-breakpoint-up(lg) {
    .modal-contact {
        max-width: 1000px !important;
    }
}