@import "../../../styles/common";


.home-about-us {
    background-image: url("../../../assets/images/home/home_about_us.png");

    .home-body-about-us {
        padding: 0px 0px 60px 0px !important;

        .customer-content {

            .slick-slider {

                .slick-prev,
                .slick-next {
                    width  : unset;
                    height : unset;
                    z-index: 100;

                    border       : 3px solid transparent;
                    border-radius: 9999px;
                    background   :
                            linear-gradient(to left top, white , white ),
                            linear-gradient(to right bottom ,#A07220, #C29849, #E3B64F, #ECDEC2);

                    background-clip  : padding-box, border-box;
                    background-origin: padding-box, border-box;
                    padding: 6px;
                    filter: opacity(0.9);
                    img {
                        max-width: unset;
                    }

                    &::before {
                        display: none;
                    }
                }

                .slick-prev {
                    left: 0;
                }

                .slick-next {
                    right: 0;
                }

                .slick-list {
                    .slick-track {
                        gap    : 30px;
                        display: flex;

                        .customer-item {
                            border       : 3px solid transparent;
                            border-radius: 15px;
                            background   :
                                    linear-gradient(to left top, white , white ),
                                    linear-gradient(to right bottom ,#A07220, #C29849, #E3B64F, #ECDEC2);
                            background-clip  : padding-box, border-box;
                            background-origin: padding-box, border-box;

                            .wrap-customer-item {
                                .customer-image {
                                    height  : 100%;
                                    width   : 100%;
                                    position: relative;

                                    img {
                                        width : 100%;
                                        height: 100%;
                                    }

                                    .btn-play-video {
                                        position : absolute;
                                        top      : 50%;
                                        left     : 50%;
                                        transform: translate(-50%, -50%);
                                        cursor   : pointer;

                                        &:hover {
                                            opacity: 0.7;
                                        }
                                    }
                                }

                                .customer-info {
                                    padding                   : 16px;
                                    background-color          : #2A6241;
                                    border-bottom-right-radius: 12px;
                                    border-bottom-left-radius : 12px;

                                    .name {
                                        font-weight: 500;
                                        font-size  : 24px;
                                        line-height: 32px;
                                        color      : $white;
                                    }

                                    .line {
                                        border-top: 1px solid rgba(255, 255, 255, 0.5);
                                        margin    : 10px 0px;
                                    }

                                    .location {
                                        font-weight: 400;
                                        font-size  : 16px;
                                        line-height: 24px;
                                        color      : rgba(255, 255, 255, 0.5);
                                    }

                                    .description {
                                        font-weight: 400;
                                        font-size  : 16px;
                                        line-height: 24px;
                                        color      : $white;
                                    }
                                }
                            }
                        }
                    }
                }

                .slick-dots {
                    li {
                        button {
                            &::before {
                                font-size: 10px;
                            }
                        }
                    }

                    .slick-active {
                        button {
                            &::before {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}


// từ 767px trở xuống
@include media-breakpoint-down(sm) {
    .home-customer {

        .home-body-customer {
            .customer-content {
                flex-direction: column;

                .customer-item {
                    width    : 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .slick-slider {
        .slick-prev {
            left: -10px !important;
        }

        .slick-next {
            right: -10px !important;
        }
    }
}