@import "../../styles/common";

.header {
    background-color: $primary_3;
    border          : none;

    &.sticky-header {
        z-index                    : 199;
        position                   : fixed;
        top                        : 0 !important;
        left                       : 0;
        width                      : 100%;
        box-shadow                 : 0 0 10px rgba(9, 9, 9, 0.1);
        -webkit-backface-visibility: hidden;
        animation                  : stuckMoveDown .6s;
        margin                     : 0 auto;
    }

    .container-header {
        display        : flex;
        height         : 100%;
        margin         : 0 auto;
        min-height     : 45px;
        justify-content: space-between;
        padding        : 16px 0px;

        .container-left {
            display: flex;

            .container-logo {}

            .container-menu-header {
                .list-menu-header {
                    display: flex;
                    height : 100%;

                    .item-menu-header {
                        color  : $white;
                        padding: 14px 24px;

                        a {
                            font-weight: 500;
                            font-size  : 16px;
                            line-height: 24px;
                            color      : $primary_1;
                        }
                    }
                }
            }
        }

        .container-right {
            .btn-header {
                border-radius: $border_radius;
                padding      : 5px 20px;
                background   : $primary_1;
                font-weight  : 500;
                font-size    : 16px;
                line-height  : 24px;
            }
        }
    }
}


@keyframes stuckMoveDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

// từ 575.98px trở xuống
@include media-breakpoint-down(xs) {}


// từ 767px trở xuống
@include media-breakpoint-down(sm) {}


// từ 991px trở xuống
@include media-breakpoint-down(md) {}