@import "../../styles/common";

.footer {
    background-image : url("../../assets/images/company/bg_footer.png");
    color            : $white;
    background-size  : cover;
    background-repeat: no-repeat;

    .footer-wrap {
        padding: 60px 0px;

        .footer-wrap-content {
            display        : flex;
            justify-content: space-between;
            height         : 100%;
            gap            : 20px;

            .column-1 {
                .block {
                    .box-company-desc {
                        .company-name {
                            font-weight: 500;
                            font-size  : 20px;
                            line-height: 28px;
                            margin     : 24px 0px 12px 0px;
                            text-align : center;
                        }

                        .company-desc {
                            font-weight: 400;
                            font-size  : 16px;
                            line-height: 24px;
                        }
                    }
                }
            }

            .column-2 {
                .block {
                    display       : flex;
                    flex-direction: column;
                    gap           : 20px;
                    font-weight   : 400;
                    font-size     : 16px;
                    line-height   : 24px;

                    .highlight {
                        color      : $primary_1;
                        font-weight: 600;
                        font-size  : 20px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}


// từ 991px trở xuống
@include media-breakpoint-down(md) {
    .footer {
        .footer-wrap {
            .footer-wrap-content {
                flex-direction: column;
            }
        }
    }
}